* {
    transform-style: preserve-3d;
    box-sizing: border-box;
}

body {
    background: url(background.1.png) no-repeat center center fixed;
    background-size: cover;
}

.well {
    background-color: lightblue;
    width: 640px;
}

.well>h2 {
    margin: 0px;
    text-align: center;
}

#game {
    padding-top: 100px;
    padding-left: 400px;
}

#viewport {
    width: 600px;
    height: 400px;
    overflow: hidden;
    background: url(back.png) repeat-x;
    background-size: auto 350px;
    perspective: 400px;
}

#camera {
    width: 0px;
    height: 0px;
    position: relative;
    left: 300px;
    top: 200px;
    transition: transform .4s;
}

#scenewrapper {
    width: 4000px;
    height: 4500px;
    transform-origin: 0 0;
    transition: transform .4s;
}

#scene {
    width: 4000px;
    height: 4000px;
    transform-origin: 0 0;
}

#kartwrapper,
#kartwrapper2 {
    position: absolute;
    transform-origin: center center;
}

#kart,
#kart2 {
    width: 30px;
    transition: transform .4s, opacity .4s;
    opacity: 0;
}

#treewrapper {
    position: absolute;
    transform: translateX(1550px) translateY(550px) translateZ(40px);
}

#tree {
    width: 60px
}

#toggle3d:checked~#viewport #scenewrapper {
    transform: rotateX(80deg) translateZ(-70px)
}

#toggle3d:checked~#viewport #camera {
    transform: translateZ(400px);
}

#toggle3d:checked~#viewport #kart {
    transform: rotateX(-90deg);
}

#toggle3d:checked~#viewport #kart2 {
    transform: rotateX(-90deg);
}

#toggle3d:checked~#toggleview:checked~#viewport #camera {
    transform: translateZ(200px)
}

#toggleview:checked~#viewport #camera #scene #kart {
    opacity: 1;
}

#toggleview:checked~#viewport #camera #scene #kart2 {
    opacity: 1;
}